name: gophermart

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
      - master

jobs:

  build:
    runs-on: ubuntu-latest
    container: golang:1.24

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: praktikum
        options: >-
          --health-cmd pg_isready
          --health-interval 5s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set working dir
        run: |
          echo "Workspace: ${{ github.workspace }}"
          ls -la
        working-directory: ${{ github.workspace }}

      - name: Download autotests binaries
        uses: robinraju/release-downloader@v1.8
        with:
          repository: Yandex-Practicum/go-autotests
          latest: true
          fileName: "*"
          out-file-path: .tools
          token: ${{ secrets.GITHUB_TOKEN }}
        working-directory: ${{ github.workspace }}

      - name: Setup autotest binary
        run: |
          chmod -R +x .tools
          mv .tools/gophermarttest /usr/local/bin/gophermarttest
          mv .tools/random /usr/local/bin/random
        working-directory: ${{ github.workspace }}

      - name: Prepare binaries
        run: |
          cd ${{ github.workspace }}/cmd/gophermart
          go build -buildvcs=false -o gophermart
          cd ${{ github.workspace }}/cmd/accrual
          chmod +x accrual_linux_amd64
        working-directory: ${{ github.workspace }}

      - name: Test
        run: |
          gophermarttest \
            -test.v -test.run=^TestGophermart$ \
            -gophermart-binary-path=cmd/gophermart/gophermart \
            -gophermart-host=localhost \
            -gophermart-port=8080 \
            -gophermart-database-uri="postgresql://postgres:postgres@postgres/praktikum?sslmode=disable" \
            -accrual-binary-path=cmd/accrual/accrual_linux_amd64 \
            -accrual-host=localhost \
            -accrual-port=$(random unused-port) \
            -accrual-database-uri="postgresql://postgres:postgres@postgres/praktikum?sslmode=disable"
        working-directory: ${{ github.workspace }}
